*{
    padding: 0;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:10% 88%;
    align-items: center;
    height: 100vh;
    background-image: url(fond.jpg);
    background-size: cover;
    background-position: 20%;
    color: rgb(95, 94, 166);   
    font-family: Cabin, sans-serif;
    
}

.header-title{
    grid-row: 1;
    grid-column: 1;
    text-align: left;
    padding: 3%;
    font-weight: bold;
    font-size: 300%;
    text-decoration: underline;
    margin-left: 1em;
    
}
.nav-title{
    grid-row: 1;
    grid-column: 2; 
    text-align: end;
}

.nav-title a{
    text-decoration: none;
    color: rgb(95, 94, 166);
    font-size: 300%;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 1em;
}

.nav-title a:hover{
    color: hotpink;
}

header section{
    display: grid;
    grid-column: span 2;
    text-align: center;
    height: 100%;
    font-size: 200%;
    color:white;
    text-shadow: black 2px 2px 0.13em;
    align-items: center;
}
header section h1{
    align-self: end;
}
header section span{
    align-self: start;
}


.nav-title li{
    display: inline;
    padding-right: 2%;

}

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    align-items: center;
}

main article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 5vh
}

main > article > section{
    padding: 15%;
}

main form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

main > form > span{
    margin-left: 50%;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

main > form > button{
    margin-right: 30%;
    margin-left: 20%;
}

input:focus{
    outline: 3px dotted hotpink;
}

@media screen and (max-width: 980px) {
    body {
      background-color:gray;
    }

    main article{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding-left: 5vh
    }



  }