*{
    padding: 0;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:10% 88%;
    align-items: center;
    height: 100vh;
    background-image: url(fond.jpg);
    background-size: cover;
    background-position: 20%;
    color: rgb(95, 94, 166);   
    font-family: Cabin, sans-serif;
    text-shadow: black 2px 2px 0.13em;
    
}

.header-title{
    grid-row: 1;
    grid-column: 2;
    text-align: right;
    padding: 3%;
    font-weight: bold;
    font-size: 300%;
    text-decoration: underline;
    margin-right: 2em;
    
}
.nav-title{
    grid-row: 1;
    grid-column: 1; 
    text-align: start;
    margin-left: 3em;
}

.nav-title a{
    text-decoration: none;
    color: rgb(95, 94, 166);
    font-size: 300%;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 1em;
}

.nav-title a:hover{
    color: hotpink;
}

header section{
    display: grid;
    grid-column: span 2;
    text-align: center;
    height: 100%;
    font-size: 200%;
    color:white;
    
    align-items: center;
}
header section h1{
    align-self: end;
}
header section span{
    align-self: start;
}


.nav-title li{
    display: inline;
    padding-right: 2%;

}

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    align-items: center;
}

main article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 5vh;
    font-family: Cabin, sans-serif;
}

main > article > section{
    margin-bottom: 3em;
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

.but1{
    margin-top: 1em;
    width: 20em;
    height: 3em;
    font-size: 180%;
    font-weight: bold;
}

.but1:hover{
    color: white;
    background-color: salmon;
}

#img1{
    width: 35em;
    height: auto ;
}

#img2{
    width: 40em;
    height: auto ;
}

#img3{
    width: 40em;
    height: auto ;
}


@media screen and (max-width: 980px) {
    
    main article{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding-left: 5vh;

    }



  }