*{
    padding: 0;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:10% 88%;
    align-items: center;
    height: 100vh;
    background-image: url(fond.jpg);
    background-size: cover;
    background-position: 20%;
    color:white;
    text-shadow: black 2px 2px 0.13em;   
    font-family: Cabin, sans-serif;
    
}

.header-title{
    grid-row: 1;
    grid-column: 2;
    text-align: right;
    padding: 3%;
    font-weight: bold;
    font-size: 300%;
    text-decoration: underline;
    margin-right: 0.8em;
    
}
.nav-title{
    grid-row: 1;
    grid-column: 1; 
    text-align: left;
    margin-left: 4em;
}

.nav-title a{
    text-decoration: none;
    color: white;
    font-size: 300%;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 1em;
}

.nav-title a:hover{
    color: hotpink;
}

header section{
    display: grid;
    grid-column: span 2;
    text-align: center;
    height: 100%;
    font-size: 200%;

    align-items: center;
}
header section h1{
    align-self: end;
}
header section span{
    align-self: start;
}


.nav-title li{
    display: inline;
    padding-right: 2%;

}

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

#article1{
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10em;
    margin-top: 5em;
}

#article1 h2{
    font-size: 300%;
    text-align: center;
    margin-bottom: 1.5em;
}

#article1 p{
    margin-right: 5em;
    margin-bottom: 2em;
}

#but1{
    align-self: end;
}

#article2{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
}

#article3{
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
}



@media(min-width:768px) {
    
    main article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-left: 5vh
    }



  }